{% extends 'base.html' %}

{% block content %}
{{ super() }}
<form method="post">
    <span class="h1" >
        <b>Sign In </b>
        <span class="p">Enter in to account</span>
    </span>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{ msg }}</div>
    {% endfor %}
    <hr>
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Enter Email" name="email" required>

    <label for="psw">Password</label>
    <input id="psw" type="password" placeholder="Enter Password" name="psw" minlength="4" required>

    <br>
    <br>
    <button type="submit">Sign In</button>
    <p><a href="{{url_for('sign_up')}}">Sing Up</a></p>
</form>
{% endblock %}
