{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h1>HI {{user}}</h1>
<form method="post" enctype="multipart/form-data">
    <span class="h1" >
        <b>Add content </b>
        <span class="p">Your post</span>
    </span>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{ msg }}</div>
    {% endfor %}
    <hr>
    <label for="post">Post</label>
    <textarea id="post" cols="40" rows="3" placeholder="Enter Your Post" name="post" required></textarea>

    <label for="photo">Photo</label>
    <input id="photo" type="file" accept="image/jpeg,image/png,image/gif" name="photo" required multiple>

    <br>
    <br>
    <button type="submit">Add</button>
</form>

{% endblock %}

