html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

form {
    border: 1px solid #c0ab8e;
    margin: 20px;
    background: #f0ede5;
    padding: 20px 20px 20px 20px;
    color: #2e4a62;
    width: 400px;
}

label {
    display: inline-block;

}

input[type=email], input[type=password] {
    width: 97%;
    padding: 5px;
    margin: 5px 0 5px 0;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: #b4b7ba;
}

button {
    background-color: #c0ab8e;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%
}

.flash {
    border: 1px solid #c0ab8e;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin: 10px 0 2px 0;
}

.flash.success {
    color: green
}
.flash.error {
    color: red
}

span.h1 {
    font-size: 25px;
}
span.p {
    font-size: 12px;
}

ul.mainmenu {
    list-style: none;
    background: #c0ab8e;
    height: 60px;
    margin: 0;
    padding: 0;
    color: #2e4a62;
    font-size: 20px;
    overflow: hidden;
}
ul.mainmenu li {
    float: left;
    margin: 18px 40px 0 50px;
}
ul.mainmenu li a {
    color: #2e4a62;
    text-decoration: none;
}
ul.mainmenu li.last {
    float: right
}
ul.mainmenu li a:hover {
    color: #2e4a62;
}
